export STRIPE_TEST_SECRET='sk_test_8pa4m7Rd5fw7vvQ9MtOeXUca'
export STRIPE_TEST_PUBLISHABLE='pk_test_rtHlWWGcn7MBFe9DsSYjLIrA'
export STRIPE_LIVE_SECRET='sk_live_VuufT0zbhp1FIjUNth4usIxy'
export STRIPE_LIVE_PUBLISHABLE='pk_live_eWMh5NdxLHB3P3YOiE4ksU1z'
