<h4>Welcome to WeHireFitness.com!</h4>

<p>Thanks for posting your job with us – we’re excited to have you on board!</p>

<p>In the meantime, we want to give you a heads up that your job posting is currently in the review process and will be posted, upon approval.

<p><strong>*YOUR CREDIT CARD HAS NOT BEEN CHARGED</strong></p>

<p>Once the job posting becomes live, you will see a charge on your bank statement from “WEHIREFITNESS.COM”.</p>

<br>
<br>
<h4>Marketing Opportunity</h4>
<p>
WeHireFitness is currently seeking guest writers to share about topics in the industry such as:

<ul>
  <li>Resume Writing Tips</li>
  <li>Interviewing Tips</li>
  <li>Latest Health and Fitness Trends</li>
  <li>Related Topics</li>
</ul>
We want to hear from you and would love the chance to share your expertise to our followers.  If you’re interested in being a thought leader with us, please contact us at support@wehirefitness.com.
</p>

<i>*All job postings are posted live upon approval from the WeHireFitness team.  If your job posting is not approved, your credit card will not be charged.</i>
