.job-posting {
  background-color: $color-form-background-main;
  border: 1px solid $color-form-border-main;
  padding: 30px 15px 15px;

	.job-header {
		margin-top: 30px;

		.job-title {

		}

		.posted-on {

		}

		.company-details {
			margin-top: 10px;
			.company {

			}

			.location {

			}

			a {

			}
		}
	}

	.job-description {
		margin-top: 50px;

	}

	.apply-wrap {
		margin-top: 50px;
	}
}

.review-action-wrap {
	margin-top: 50px;
	text-align: center;
	display: inline-block;
	width: 100%;

	.button, h6 {
		display: inline-block;
		text-align: center;
	}

	.button {
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 5px;
	}
}