<%= link_to 'Back to review', jobs_review_path, :class => 'button back' %>
<br />
<br />
<br />


<%= form_tag("/jobs/complete_purchase",
  url: "/jobs/complete_purchase",
  id: 'payment-form',
  role: 'form',
  authenticity_token: true) do %>

  <h1>Almost there...</h1>
  <p>
    Your ad is $25 and it will run for 30 days starting today.
    Your ad will be reviewed by our staff before being listed on the main page. This only takes a few minutes. We reserve the right to deny or remove ads at our discretion (we will refund your money if we don’t run your ad). Any questions? Contact us by emailing support@wehirefitness.com 
  </p>

  <div class='payment-errors'></div>
  
  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-stripe="cvc"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input type="text" size="2" data-stripe="exp-month"/>
    </label>
    <span> / </span>
    <input type="text" size="4" data-stripe="exp-year"/>
  </div>

  <br />

  <button type="submit" class='button forward'>Submit Payment</button>
<% end %>



