<% if @job.present? %>
	<%= @job.to_yaml %>

	<br />

	<%= mail_to "info@theyogaclasses.com", 
							"Report this job listing", 
							subject: "Reporting job \##{@job.id}",
							body: '' %>

<% else %>
	<h1>Job not found</h1>
<% end %>