<p>Thank you for being a supporter of WeHireFitness.com.  We are very proud of building a website that helps fitness enthusiast find their dream job AND fitness & Gym companies find those who are most passionate about all things fitness and health.</p>
<br>
<%= link_to 'Head Home', root_path, class: 'button back' %>
