---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=0&currency=usd&customer=cus_6wNSe1hvyfHkLd&description=wehirefitness.com+Job+Posting
    headers:
      Authorization:
      - Bearer sk_test_8pa4m7Rd5fw7vvQ9MtOeXUca
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Invalid positive integer",
            "param": "amount"
          }
        }
  recorded_at: Mon, 21 Mar 2016 04:45:31 GMT
recorded_with: VCR 2.9.3
