---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=625&currency=usd&customer=cus_6wNSe1hvyfHkLd&description=wehirefitness.com+Job+Posting
    headers:
      Authorization:
      - Bearer sk_test_8pa4m7Rd5fw7vvQ9MtOeXUca
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17rKuhIALHQ35LmrZcteBq5O",
          "object": "charge",
          "amount": 625,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17rKuhIALHQ35LmrsFL7i1nN",
          "captured": true,
          "created": 1458535511,
          "currency": "usd",
          "customer": "cus_6wNSe1hvyfHkLd",
          "description": "wehirefitness.com Job Posting",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17rKuhIALHQ35LmrZcteBq5O/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_16iUhnIALHQ35Lmr2igRQBv9",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_6wNSe1hvyfHkLd",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2019,
            "fingerprint": "xmzddh7bBcc1aIGl",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Mon, 21 Mar 2016 04:45:11 GMT
recorded_with: VCR 2.9.3
