$white: #fff;
$base-color: #f6f6f6;
$offset-color: #009FDA;
$text-color: #2b2b2b;

$border-radius: 15px;

$color-background-main: $base-color;
$color-text-main: $text-color;
$color-header-main: #323232;


/*
	LAYOUT
*/
$color-section-background-main: $base-color;
$color-section-border-main: $base-color;



/*
	HEADER
*/
$color-header-background-main: $offset-color;
$color-header-text-main: $base-color;
$color-header-text-hover: $offset-color;



/*
	BUTTONS
*/
$color-button-background-main: $offset-color;
$color-button-text-main: $white;
$color-button-border-main: $offset-color;

$color-button-background-hover: darken($offset-color, 10%);
$color-button-text-hover: $white;
$color-button-border-hover: $white;



/*
	FORM
*/
$color-form-text-main: $white;
$color-form-background-main: darken($base-color, 20%);
$color-form-border-main: darken($base-color, 20%);
$color-form-background-hover: darken($base-color, 22%);
$color-form-border-hover: darken($base-color, 22%);

// inputs
$color-input-text-main: darken($base-color, 25%);



/*
	LINKS
*/
$color-link-text-main: $offset-color;
$color-link-background: transparent;
$color-link-text-hover: darken($offset-color, 10%);
$color-link-background-hover: transparent;


/*
	FOOTER
*/
$color-footer-background-main: $offset-color;
$color-footer-text-main: $white;
$color-footer-text-hover: darken($white, 10%);



/*
	LOCATION
*/
$color-location-background-main: darken($base-color, 20%);
$color-location-background-hover: darken($base-color, 23%);
$color-location-border-main: darken($base-color, 20%);
$color-location-border-hover: darken($base-color, 20%);



