---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=gilberto_bins%40jaskolski.name
    headers:
      Authorization:
      - Bearer sk_test_8pa4m7Rd5fw7vvQ9MtOeXUca
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_87aGWeJRyPwXA8",
          "object": "customer",
          "account_balance": 0,
          "created": 1458536194,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "gilberto_bins@jaskolski.name",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_87aGWeJRyPwXA8/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_87aGWeJRyPwXA8/subscriptions"
          }
        }
  recorded_at: Mon, 21 Mar 2016 04:56:34 GMT
recorded_with: VCR 2.9.3
