.button, input[type='submit'] {
	color: $color-button-text-main;
	background-color: $color-button-background-main;
  border: 0px;
  border-left: 6px solid $color-button-border-hover;
  border-right: 6px solid $color-button-border-hover;

	padding: 8px 10px 8px;
	border-radius: 0;
	text-transform: uppercase;
	cursor:pointer;
	display: inline-block;
	transition: all 0.25s ease-in-out;
	font-size: 16px;
	font-family: 'Anton', sans-serif;
	font-weight: normal;


	&.forward {
		&:after {
			font-family: "FontAwesome";
			content: '\f178';
			padding-left: 6px;
		}
	}

	&.back {
		&:before {
			font-family: "FontAwesome";
			content: '\f177';
			padding-right: 6px;
		}
	}

	&.large {
		padding: 10px 15px;
		font-size: 18px;
	}

	&:hover {
		color: $color-button-text-hover;
		background-color: $color-button-background-hover;
		border-left: 6px solid $color-button-border-hover;
    border-right: 6px solid $color-button-border-hover;
    border-radius: $border-radius;
    border-bottom: 0px !important;
	}
}


form {
	background-color: $color-form-background-main;
	border: 1px solid $color-form-border-main;
	padding: 30px 15px 15px;

	.field {
		margin-top: 25px;

		label {
			font-family: "Lato",sans-serif;
			font-weight: bold;
		}

		.description {
			margin-top: 5px;
			color: #8c8c8c;
		}

		input {
			margin-top: 5px;
		}

    .error {
      width: 100%;
      display: block;
    }
	}

	&:hover {
		background-color: $color-form-background-hover;
		border: 1px solid $color-form-border-hover;
	}

	.actions {
		margin-top: 15px;
	}

	input {
		width: 100%;
		max-width: 380px;
	}

	input[type='submit'] {
		width: auto;
	}

	input, select, textarea {
    border: 1px dotted $color-form-border-main;
    background-color: $color-input-background-main;
		padding: 5px;
	}
}
