a {
  color: $color-link-text-main;
  background-color: $color-link-background;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: -2px;
  margin-right: -2px;
  border-bottom: 1px solid transparent;

 	&:hover {
 		text-decoration: none;
 		background-color: $color-link-background-hover;
 		color: $color-link-text-hover;
    border-bottom: 1px solid $color-link-text-main;
 	}
}

.color-blue {
  color: $offset-color;
}

.pop-box {
  padding: 30px;
  border: 3px solid $color-action-main;
  font-size: 19px;
  line-height: 1em;
  text-align: center;
  box-shadow: 10px 10px 5px #000;

  @include box-shadow();
}