#site-header {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: block;
  height: auto;
  margin: 0;
  padding: 50px 8px;
  position: relative;
  width: 100%;
  z-index: 10;
  text-transform: uppercase;
  text-align: center;

  background-color: $color-header-background-main;
  color: $color-header-text-main;

  h1 {
  	color: $color-header-text-main;
  }
}
