*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;

  background-color: $color-background-main;
  color: $color-text-main;
  line-height: 1.2em;
  transition: all 0.25s ease-in-out;
  letter-spacing: 1px;
}

#site-wrap {
  min-height:100%;
  position:relative;
  padding-bottom:60px;
}

#site-content {
  background-color: $color-section-background-main;
  border-radius: 15px;
  border: 1px solid $color-section-border-main;
  max-width: 768px;
  margin-top: 0px;
  padding: 20px;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-height: 512px;
}

#site-footer {
  background-color: $color-footer-background-main;
  color: $color-footer-text-main;
  text-align: center;

  position:absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 5px;

  a {
    color: $color-footer-text-main;

    &:hover {
      color: $color-footer-text-hover;
    }
  }
}

p, ol, ul, td {

}

p, ol, ul {
  margin-top: 10px;
}

strong, b {
  font-weight: bold;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

hr {
  border-style: dotted;
  border-width: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-color: $offset-color;
  margin-bottom: 20px;
  margin-top: 40px;
}

textarea {
  width: 100% !important;
  min-height: 150px;

  &#job_description {
    min-height: 300px;
  }
}

.page-header {
  width: 100%;
  display: block;
  height: 256px;
  background-position: center center;
  background-size: cover;
  background-color: $color-section-background-main;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0;
  border: none;

  h1 {
    position: relative;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.page #container {
  text-align: left;
}

.notice {
  margin-bottom: 20px;
  margin-top: 10px;
}




