<div class='site-footer'>
	<div class='copy-right'>&copy; 2015 The Yoga Classes, llc - All rights reserved</div>
	<div class='legal'>
		<a href='/privacy/'>Privacy Policy</a>
		<span class='divider'> | </span>
		<a href='/terms/'>Terms & Conditions</a>
	</div>
</div>