<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body style='font-family: "Verdana"'>
    <%= render partial: '/mailer_partials/mailer_header' %>
    <%= yield %>
    <%= render partial: '/mailer_partials/mailer_footer' %>
  </body>
</html>
